.agenda {
  height: 200px;
  width: 200px;
  border: 1px solid;
  background: ghostwhite;
  border-color: antiquewhite;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 10px;
}
